<body>
  <section class="principal">
  
  
    <form [formGroup]="angForm2" novalidate>
      <div class="form-group">
        <label class="center-block">Formulario Login:<br>
          <input class="form-control" formControlName="user"><br>
          <input type="password" class="form-control" formControlName="pass"><br>
          <button (click)="postLogin()">Hacer Login</button><br>
        </label>
      </div>
  </form>
  
  <div *ngIf="found2">
    <span>Login correcto. Cargando Token...
    </span><br>
    
    <span>Token cargado: {{tokenLogin}}</span><br>
  
    
    <br>
  <form [formGroup]="angForm" novalidate enctype="multipart/form-data">
    <div class="form-group">
      <label class="center-block">Cambiar cientifico (Se deben rellenar todos los campos)<br><br>
        ID del cientifico que queremos modificar [1, 2, 3, 4]
        <input class="form-control" formControlName="id"><br>
        Nombre nuevo
        <input class="form-control" formControlName="nombre"><br>
        Descripcion nueva
        <input class="form-control" formControlName="descripcion"><br>
        Energia
        <input class="form-control" formControlName="energia"><br>
        Precio
        <input class="form-control" formControlName="precio"><br>
        Imagen nueva
        <input class type="file" (change)="onFileSelected($event)" id="myFile" formControlName="ruta">
        <br>
        <br>
  
        <button (click)="principalFuncion()">Actualizar cientifico</button><br>
      </label>
    </div>
  </form>
    
    
    </div>
  
  
  
  </section>
  </body>
  
  
  