<body>
<div *ngIf="!esconder"><br><br><br><br><br><br><br><br>

<section class="login">
 <form [formGroup]="angForm2" novalidate>
      <div class="form-group">
        <label class="center-block">
          <br><b>Usuario:</b><br>
          <input class="form-control" formControlName="user"><br>
          <b>Contraseña:</b><br>
          <input type="password" class="form-control" formControlName="pass"><br> <!--p27QRsc-->
          <button class="btn-success" (click)="postLogin()">Hacer Login</button><br><br>
        </label>
      </div>
  </form>
</section>

</div>

<div *ngIf="found2">
  <router-outlet></router-outlet>
</div>

<!--
  <div *ngIf="{{campoNuevo[0]}}">       campoNuevo sera true o false
  <router-outlet></router-outlet>
  </div>
-->

</body>