<body>

    <section class="flotatop">
      
      <br>
      <button class="btn" (click)="createForm(); mostrarCientifico1()">Cientifico 1</button>
      <button class="btn"  (click)="createForm(); mostrarCientifico2()">Cientifico 2</button>
      <button class="btn"  (click)="createForm(); mostrarCientifico3()">Cientifico 3</button>
      <button class="btn"  (click)="createForm(); mostrarCientifico4()">Cientifico 4</button><br>
    
    </section>
    
    
    <section class="principal">
      
        <!--/////////////////////////////////////////////////////////////////////-->
        <div *ngIf="!mostrarVacio">
          <form [formGroup]="angForm" novalidate enctype="multipart/form-data">
            <div class="form-group">
              <label class="center-block">
                <!-- ID del cientifico que queremos modificar [1, 2, 3, 4] (Introducir el id que se muestra)
                <input type="number" class="form-control" formControlName="id" placeholder=""><br>-->
                Nombre nuevo
                <input class="form-control" formControlName="nombre" placeholder=""><br>
                Descripcion nueva<br>
                <textarea class="textarea" rows="4" cols="54" formControlName="descripcion"></textarea><br>
                Generación de energía por segundo
                <input type="number" class="form-control" formControlName="energia" placeholder=""><br>
                Precio
                <input type="number" class="form-control" formControlName="precio" placeholder=""><br>
                (No seleccionar un archivo mantiene la imagen anterior)<br>
                <input class type="file" (change)="onFileSelected($event)" id="myFile">
                <br>
                <button class="btn-success" (click)="principalFuncion()">Actualizar cientifico</button><br>
              </label>
            </div>
          </form>
        </div>
    
        <div *ngIf="mostrar1">
          <form [formGroup]="angForm" novalidate enctype="multipart/form-data">
            <div class="form-group">
              <label class="center-block">
                <!--ID del cientifico que queremos modificar [1, 2, 3, 4] (Introducir el id que se muestra)
                <input type="number" class="form-control" formControlName="id" placeholder="1"><br>-->
                Nombre nuevo
                <input class="form-control" formControlName="nombre" placeholder="{{nombreCientifico[0]}}"><br>
                Descripcion nueva<br>
                <textarea class="textarea" rows="4" cols="54" formControlName="descripcion" placeholder="{{descCientifico[0]}}"></textarea><br>
                Generación de energía por segundo
                <input type="number" class="form-control" formControlName="energia" placeholder="{{energiasCientificos[0]}}"><br>
                Precio
                <input type="number" class="form-control" formControlName="precio" placeholder="{{preciosCientificos[0]}}"><br>
                (No seleccionar un archivo mantiene la imagen anterior)<br>
                <input class type="file" (change)="onFileSelected($event)" id="myFile">
                <br>
                <button class="btn-success" (click)="principalFuncion()">Actualizar cientifico</button><br>
              </label>
            </div>
          </form>
        </div>
    
        <div *ngIf="mostrar2">
          <form [formGroup]="angForm" novalidate enctype="multipart/form-data">
            <div class="form-group">
              <label class="center-block">
                <!-- ID del cientifico que queremos modificar [1, 2, 3, 4] (Introducir el id que se muestra)
                <input type="number" class="form-control" formControlName="id" placeholder="2"><br>-->
                Nombre nuevo
                <input class="form-control" formControlName="nombre" placeholder="{{nombreCientifico[1]}}"><br>
                Descripcion nueva<br>
                <textarea class="textoarea" rows="4" cols="54" formControlName="descripcion" placeholder="{{descCientifico[1]}}"></textarea><br>
                Generación de energía por segundo
                <input type="number" class="form-control" formControlName="energia" placeholder="{{energiasCientificos[1]}}"><br>
                Precio
                <input type="number" class="form-control" formControlName="precio" placeholder="{{preciosCientificos[1]}}"><br>
                (No seleccionar un archivo mantiene la imagen anterior)<br>
                <input class type="file" (change)="onFileSelected($event)" id="myFile">
                <br>
                <button class="btn-success" (click)="principalFuncion()">Actualizar cientifico</button><br>
              </label>
            </div>
          </form>
        </div>
    
        <div *ngIf="mostrar3">
          <form [formGroup]="angForm" novalidate enctype="multipart/form-data">
            <div class="form-group">
              <label class="center-block">
                <!-- ID del cientifico que queremos modificar [1, 2, 3, 4] (Introducir el id que se muestra)
                <input type="number" class="form-control" formControlName="id" placeholder="3"><br> -->
                Nombre nuevo
                <input class="form-control" formControlName="nombre" placeholder="{{nombreCientifico[2]}}"><br>
                Descripcion nueva<br>
                <textarea class="textoarea" rows="4" cols="54" formControlName="descripcion" placeholder="{{descCientifico[2]}}"></textarea><br>
                Generación de energía por segundo
                <input type="number" class="form-control" formControlName="energia" placeholder="{{energiasCientificos[2]}}"><br>
                Precio
                <input type="number" class="form-control" formControlName="precio" placeholder="{{preciosCientificos[2]}}"><br>
                (No seleccionar un archivo mantiene la imagen anterior)<br>
                <input class type="file" (change)="onFileSelected($event)" id="myFile">
                <br>
                <button class="btn-success" (click)="principalFuncion()">Actualizar cientifico</button><br>
              </label>
            </div>
          </form>
        </div>
    
        <div *ngIf="mostrar4">
          <form [formGroup]="angForm" novalidate enctype="multipart/form-data">
            <div class="form-group">
              <label class="center-block">
                <!-- ID del cientifico que queremos modificar [1, 2, 3, 4] (Introducir el id que se muestra)
                <input type="number" class="form-control" formControlName="id" placeholder="4"><br>-->
                Nombre nuevo
                <input class="form-control" formControlName="nombre" placeholder="{{nombreCientifico[3]}}"><br>
                Descripcion nueva<br>
                <textarea class="textoarea" rows="4" cols="54" formControlName="descripcion" placeholder="{{descCientifico[3]}}"></textarea><br>
                Generación de energía por segundo
                <input type="number" class="form-control" formControlName="energia" placeholder="{{energiasCientificos[3]}}"><br>
                Precio
                <input type="number" class="form-control" formControlName="precio" placeholder="{{preciosCientificos[3]}}"><br>
                (No seleccionar un archivo mantiene la imagen anterior)<br>
                <input class type="file" (change)="onFileSelected($event)" id="myFile">
                <br>
                <button class="btn-success" (click)="principalFuncion()">Actualizar cientifico</button>
                <br>
              </label>
            </div>
          </form>
        </div>
        <!--/////////////////////////////////////////////////////////////////////-->
    </section>
    
    
    <section class="lateral">
    
    
      <div *ngIf="mostrar1">
    
        <div class="form-group">
          <div class="titulo"><b>Cientifico 1</b></div>
          <div class="titulo">
          <img class = "imagen" [src]="rutaImagen[0]"><br>
          </div>
          
          <b>Nombre</b>
          <div class="panelblanco" class="form-control">{{nombreCientifico[0]}}</div>
      
          <div class="campoLateral">
          <b>Descripcion</b><br>
          <textarea class="textarea" disabled="disabled" rows="4" cols="32">{{descCientifico[0]}}</textarea><br>
          </div>
      
          <div class="campoLateral">
          <b>Energia</b>
          <div class="panelblanco" class="form-control">{{energiasCientificos[0]}}</div>
          </div>
      
          <div class="campoLateral">
          <b>Precio</b>
          <div class="panelblanco" class="form-control">{{preciosCientificos[0]}}</div><br>
          </div>
        </div>
      
      </div>
    
      <div *ngIf="mostrar2">
    
        <div class="form-group">
          <div class="titulo"><b>Cientifico 2</b></div>
          <div class="titulo">
          <img class = "imagen" [src]="rutaImagen[1]"><br>
          </div>
          
          <b>Nombre</b>
          <div class="panelblanco" class="form-control">{{nombreCientifico[1]}}</div>
      
          <div class="campoLateral">
          <b>Descripcion</b><br>
          <textarea class="textarea" disabled="disabled" rows="4" cols="32">{{descCientifico[1]}}</textarea><br>
          </div>
      
          <div class="campoLateral">
          <b>Energia</b>
          <div class="panelblanco" class="form-control">{{energiasCientificos[1]}}</div>
          </div>
      
          <div class="campoLateral">
          <b>Precio</b>
          <div class="panelblanco" class="form-control">{{preciosCientificos[1]}}</div><br>
          </div>
        </div>
      
      </div>
    
    <div *ngIf="mostrar3">
    
      <div class="form-group">
        <div class="titulo"><b>Cientifico 3</b></div>
        <div class="titulo">
        <img class = "imagen" [src]="rutaImagen[2]"><br>
        </div>
        
        <b>Nombre</b>
        <div class="panelblanco" class="form-control">{{nombreCientifico[2]}}</div>
    
        <div class="campoLateral">
        <b>Descripcion</b><br>
        <textarea class="textarea" disabled="disabled" rows="4" cols="32">{{descCientifico[2]}}</textarea><br>
        </div>
    
        <div class="campoLateral">
        <b>Energia</b>
        <div class="panelblanco" class="form-control">{{energiasCientificos[2]}}</div>
        </div>
    
        <div class="campoLateral">
        <b>Precio</b>
        <div class="panelblanco" class="form-control">{{preciosCientificos[2]}}</div><br>
        </div>
      </div>
    
    </div>
    
    <div *ngIf="mostrar4">
    
      <div class="form-group">
        <div class="titulo"><b>Cientifico 4</b></div>
        <div class="titulo">
        <img class = "imagen" [src]="rutaImagen[3]"><br>
        </div>
        
        <b>Nombre</b>
        <div class="panelblanco" class="form-control">{{nombreCientifico[3]}}</div>
    
        <div class="campoLateral">
        <b>Descripcion</b><br>
        <textarea class="textarea" disabled="disabled" rows="4" cols="32">{{descCientifico[3]}}</textarea><br>
        </div>
    
        <div class="campoLateral">
        <b>Energia</b>
        <div class="panelblanco" class="form-control">{{energiasCientificos[3]}}</div>
        </div>
    
        <div class="campoLateral">
        <b>Precio</b>
        <div class="panelblanco" class="form-control">{{preciosCientificos[3]}}</div><br>
        </div>
      </div>
    
    </div>
    
    <!--/////////////////////////////////////////////////////////////////////-->
    </section>
    
    
    
</body>
      
      
      